.vc-voiceenhancer-section-title {
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 4px;
    color: var(--header-primary);
    border-bottom: 1px solid var(--background-modifier-accent);
    padding-bottom: 4px;
}
